 <!-- Top nav bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="navbar-header">
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
            <!-- Logo -->
            <img
                src="images\logo.svg"
                alt="logo"
                width="120"
                height="60"
                class="d-inline-block align-top"
                />
        </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    Shopping Cart</a></li>
            <li class="dropdown">
                <ul class="dropdown-menu">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>